[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "lib/pico-bno055"]
	path = lib/pico-bno055
	url = https://github.com/alpertng02/pico-bno055
[submodule "lib/pico-mpu9250"]
	path = lib/pico-mpu9250
	url = https://github.com/drankinatty/pico-mpu9250
[submodule "lib/mongoose"]
	path = lib/mongoose
	url = https://github.com/cesanta/mongoose
